doctype html
html(lang='en')
  head
    title Elliott
    link(rel='stylesheet', href='./index.css')
  body
    #title Elliott
    #root
    script!= 'window.defaults = ' + JSON.stringify(defaults) + ';'
    script(src='./index.js')
