#connected {
  height: 100%;

  #container {
    padding: $gap;
    height: calc(100% - 50px);
    &.transferStarted {
      #fileUploadArea {
        height: 100px;
      }
    }

    #transfers {
      height: calc(100% - 100px);
    }

    #fileUploadArea {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-100;
      border: 3px dashed $gray-200;
      border-radius: $borderRadius;
    }
  }
}
