#readyToConnect {
  height: 100%;

  #formWrapper {
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);

    form {
      width: 100%;
    }
  }

  footer {
    button, span {
      margin-left: 10px;
    }
  }
}
