@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/variables';
@import './../../../node_modules/bootstrap/scss/mixins';
@import './../../../node_modules/bootstrap/scss/reboot';
@import './../../../node_modules/bootstrap/scss/type';
@import './../../../node_modules/bootstrap/scss/forms';
@import './../../../node_modules/bootstrap/scss/buttons';

@import './variables';
@import './readyToConnect';
@import './connected';

html, body {
  height: 100%;
}

#root {
  height: calc(100% - 22px);
}

#title {
  color: #fff;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: #272c35;
}

.greenCircle {
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: $green;
}
